:root {
  --text-color: #212121;
  --bgcolor: #f5f5f5;
  --active-color: #2196f3;
  --bgcolor-foter-top: #2f303a;
}

body {
  font-family: 'Roboto';
  background: var(--bgcolor);
  color: var(--text-color);
}

/* Reset tags */
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
}
/* end reset tags */

/* header*/
.logotop {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logotopblue {
  color: var(--active-color);
}

.navigation {
  list-style-type: none;
}

.navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.navigation-list:hover,
navigation-list:active {
  color: var(--active-color);
}
.infotop {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-right: 30px;
}

.infotop:last-child{
  margin-right: 0px;
}

.infotop:hover,
.infotop:active {
  color: var(--active-color);
}

/* end header */

/* main */

/* Hero Section */
.hero {
  background: var(--bgcolor-foter-top);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-header {
 
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

}
.hero-button {
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: inline-block;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
padding: 10px 32px;

}

/* advantages */
.advantages-list {
  list-style-type: none;
}
.advantages-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

/* What we do */
.skills-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.skills-list {
  list-style-type: none;
}

/*Our command */
.command {

  background: #f5f4fa;
}
.command-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.command-list {
  list-style-type: none;
}

.member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.member-description {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.command-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer */
.footer {
  background: var(--bgcolor-foter-top);
}
.logo-bottom {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-contact {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
}
.address-contact:hover,
.address-contact:active {
  color: var(--active-color);
}
.filter-list {
  list-style-type: none;
}
.filter-list-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}
.filter-list-button:hover,
.filter-list-button:active {
  background: var(--active-color);
  color: #ffffff;
}
.project-list {
  list-style-type: none;
}
.project-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-list-header {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.project-list-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

/* defolt styles */
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}